name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: youfes111
          outputs: |
            output/snake.svg

      - name: Commit and push
        uses: EndBug/add-and-commit@v9
        with:
          add: "output/snake.svg"
          message: "chore: generate snake"
